.wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
}

.leftSection {
	position: relative;
	background-color: #fdfd96;
	float: left;
	width: 70%;
	padding: 60px;
	height: 100%;
}

.rightSection {
	position: relative;
	background-color: #0f0f0f;
	float: right;
	width: 30%;
	height: 100%;
	padding: 100px;
}

h1 {
    text-align: -webkit-right;
    font-size: 5em;
}

h3 {
	margin: auto;
    text-align: -webkit-right;
    font-size: 1.5em;
}

.material-icons {
	position: relative;
    left: 31.5em;
    padding-top: 1em;
}


#generate-link {
    padding: 1.1em;
    font-size: 1.5em;
    width: max-content;
    color: #fdfd96;
    font-family: 'Dosis','Helvetica Neue', Helvetica,Arial,sans-serif;
    font-weight: bolder;
    background-color: #0f0f0f;
    margin-top: 6.5em;
    border: 1px solid;
}

#generate-link:hover {
    padding: 1.1em;
    font-size: 1.5em;
    width: max-content;
    color: #0f0f0f;
    font-family: 'Dosis','Helvetica Neue', Helvetica,Arial,sans-serif;
    font-weight: bolder;
    background-color: #fdfd96;
    margin-top: 6.5em;
    border: 1px solid;
    transition: all 0.3s ease-in-out;
}

