.clear{
    clear:both;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: #0d0d0d;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 13px;
    margin-top: 13px;
}

h2 {
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
}
#seconds,
#minutes,
#hours,
#dots {
    font-size: 4.3em;
    font-weight: bold;
    font-family: Copse;
}



.control {
    border-radius: 7px;
    background: #fdfd96;
    font-style: oblique;
    color: #0f0f0f;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6em;
    padding: 18px 10px;
    width: 150px;
    margin: 10px;
    margin-top: 20px;
    font-family: 'Dosis','Helvetica Neue', Helvetica,Arial,sans-serif;
    border: none !important;
}
.control:hover {
    transition: all 0.2s ease-in-out;
    background: #0f0f0f;
    color: #fdfd96;
}

.back-button {
  border-radius: 0.2em;
  margin-top: 0.5em;
  padding: 5px 5px;
  color:#fdfd96;
  background-color: #0f0f0f;
  text-align: center;
  width: 4em;
}

.back-button:hover {
  border-radius: 0.2em;
  margin-top: 0.5em;
  padding: 5px 5px;
  color:#0f0f0f;
  background-color: #fdfd96;
  text-align: center;
  width: 4em;
}

* { box-sizing:border-box; }

#create-note-wrapper { 
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

#create-note, .text  { 
  float:left; 
  padding:25px 25px 40px;
  margin:0 20px 20px 0;
  width:250px !important;
  height:250px; 
}

#create-note {
  user-select:none;
  padding:20px; 
  border-radius:20px;
  text-align:center; 
  border:8px solid rgba(0,0,0,0.1); 
  cursor:pointer;
  color:rgba(0,0,0,0.1);
  font:150px "Helvetica", sans-serif;
  line-height:145px;
}

#create-note:hover { border-color:rgba(0,0,0,0.2); color:rgba(0,0,0,0.2); }

.text {
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: azure;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  max-width:520px;
  max-height:250px;
}
.text:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.text:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

.close {
  background-color: azure;
  border: none !important;
  display: inline;
  margin-left:  13.5em; 
  margin-top: 2em;
}

.close:hover {
  color: red;
  border: none !important;
  display: inline;
  margin-left:  13.5em; 
  margin-top: 2em;
}

.sticky-note {
  height: 10em;
  overflow: scroll;
}
